f@charset "UTF-8";

/* 
CSS Document
Author: Nick Zetzl
aboutme website style sheet
Last Update: 10/26/14
*/

address {
	text-align: center; 
	font-style: italic; 
	font-family: serif; 
	font-size: .9em
}