f@charset "UTF-8";
/* 
CSS Document
Author: Nick Zetzl
soccer website style sheet
Last Update: 11/26/12
*/

body {
	background-image: url("bg.jpg");
	background-repeat: repeat;
	font: "Times New Roman", Times, serif;
	position: absolute; 
	left: 0px;
}

h1	  {
	font-family: sans-serif; 
	font-style: oblique; 
	color:#00C
}

h3,h2 {color:#090}

ol {list-style-type: upper-roman}
li {color: #FF0000}

span {color: #000000}

/*the purpose of the id value "indent" is to move all of the elements to the right and place the links on the left next to the other elements */
#indent {
	position: relative; 
	left: 200px; 
	top: 0px
}

div.content {
	max-width: 1000px;
}

table {
	padding: 5px, 5px, 5px, 5px;
	position: fixed; 
	left: 5px; 
	top: 5px
}

#cleats {
	height: 100px;
	width: 150px; 
	margin: 10px
}
#ball {
	position: relative;
	left: 400px;
	height: 300px; 
	width: 300px; 
	margin: 10px; 
}

ul {list-style-type: disc}

address {
	text-align: center; 
	font-style: italic; 
	font-family: serif; 
	font-size: .9em
}

hr {color:#666}

a: link {color: #006}
a: visited {color:#C00}

#toplink {text-align: center}

caption {caption-side: top}

